<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">从你的敌人废牌中选择一张卡牌</h3>
  <span class="btn-sub bbm-close">确认</span>
</div>
<div class="bbm-modal__section">
  {{#each emreis_leader4.cards as |val key|}}
    {{>card val}}
  {{/each}}
</div>